.wellcome{
    background:transparent url(../imagenes/images/overlay.png) repeat top left;
    position:fixed;
    top: -200px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}
.box3{
    position:fixed;
    top:-500px;
    left:25%;
    right:30%;
    background: #333;
    color:#FFF;
    padding:20px;
    border:2px solid #9DEA61;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
	box-shadow: 0px 0px 20px #71C734; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #71C734; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #71C734; /* Safari, Chrome */
    border-radius: 20px;
    z-index:101;
}
.box3 h1{
	font-family: Arial, sans-serif, "Verdana";
	font-size: 20px;
	text-align:center;
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background: #A1EF65 url(../imagenes/images/barra_verde.png) repeat-x center left;
    background-size:2px;
    color: white;
    border-radius:20px 20px 0px 0px;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}
a.boxclose3{
    float:right;
    width:32px;
    height:32px;
    background:transparent url(../imagenes/images/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
	cursor: url(../imagenes/favicon/hand.cur), pointer;
}